.benefit__image {
  object-fit: contain;
}

@media screen and (max-width: 1023px) {
  .benefit__image {
    max-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .benefit__image {
    max-width: 300px;
    margin: 0 auto;
  }
}