.benefit__subtitle {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #848FAC;
  max-width: 584px;
}

@media screen and (max-width: 1023px) {
  .benefit__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 549px) {
  .benefit__subtitle {
    font-size: 10px;
    text-align: center;
  }
}