.booking-house-subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #848FAC;
  margin: 24px 0 59px;
  max-width: 485px;
}