.footer__logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (max-width: 787px) {
  .footer__logo {
    font-size: 12px;
  }
}