.reviews {
  padding: 80px 0 116px;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .reviews {
    padding: 60px 20px 60px;
  }
}

@media screen and (max-width: 767px) {
  .reviews {
    padding: 35px;
  }
}

@media screen and (max-width: 549px) {
  .reviews {
    padding: 10px;
  }
}