.reservation__houses {
  display: grid;
  margin: 88px auto 0;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px 24px;
}

@media screen and (max-width: 767px) {
  .reservation__houses {
    margin: 25px auto 0;
  }
}

@media screen and (max-width: 549px) {
  .reservation__houses {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}