.reviews__text {
  margin: 40px auto 0;
  max-width: 152px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #192252;
}

@media screen and (max-width: 549px) {
  .reviews__text {
    margin: 10px auto 10px;
    font-size: 12px;
    text-align: center;
  }
}