.about-us__image {
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .about-us__image {
    max-width: 250px;
  }
}

@media screen and (max-width: 549px) {
  .about-us__image {
    margin: 0 auto;
    max-width: 230px;
  }
}