.button-box_place_reviews {
  position: absolute;
  left: 684px;
  bottom: 82px;
}

@media screen and (max-width: 1439px) {
  .button-box_place_reviews {
    left: 45vw;
    bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .button-box_place_reviews {
    bottom: 20px;
  }
}

@media screen and (max-width: 428px) {
  .button-box_place_reviews {
    bottom: 5px;
    left: 40vw;
  }
}