.button-box_place_interior {
  position: absolute;
  left: 510px;
  bottom: 29px;
}

@media screen and (max-width: 1439px) {
  .button-box_place_interior {
    left: 45vw;
    bottom: -25px;
  }
}

@media screen and (max-width: 549px) {
  .button-box_place_interior {
    left: 40vw;
    bottom: -8px;
  }
}