.booking-house__image {
  margin-right: 24px;
  width: 180px;
  height: 588px;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.booking-house__image:last-child {
  margin-right: 0;
}


.booking-house__image:nth-last-child(2) {
  transform: translateY(81px);
}

@media screen and (max-width: 1023px) {
  .booking-house__image {
    margin-right: 12px;
    width: 18vw;
    height: 57vw;
  }
}

@media screen and (max-width: 549px) {
  .booking-house__image:nth-last-child(2) {
    transform: translateY(25px);
  }
}