.header__nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  column-gap: 36px;
}

@media screen and (max-width: 1023px) {
  .header__nav-links {
    font-size: 14px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 767px) {
  .header__nav-links {
    font-size: 12px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 549px) {
  .header__nav-links {
    display: none;
  }
}