@keyframes opacity_middle {
  to {
    background-image: url(../../../../images/meritt-thomas-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 180px;
    height: 588px;
  }
}

.booking-house__image_position_middle {
  background-image: url(../../../../images/meritt-thomas-2-before.png);
  animation: opacity_middle 5s 1s forwards;
}