@keyframes opacity_right {
  to {
    background-image: url(../../../../images/meritt-thomas-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 180px;
    max-height: 588px;
  }
}

.booking-house__image_position_right {
  background-image: url(../../../../images/meritt-thomas-3-before.png);
  animation: opacity_right 5s 1s forwards;
}