.booking-house__text {
  margin-top: 135px;
}

@media screen and (max-width: 1279px) {
  .booking-house__text {
    margin-top: 90px;
    max-width: 450px;
  }
}

@media screen and (max-width: 549px) {
  .booking-house__text {
    margin-top: 20px;
    max-width: 509px;
  }
}