.button_place_header {
  padding: 14px 16px;
}

@media screen and (max-width: 549px) {
  .button_place_header {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 549px) {
  .button_place_header {
    margin: 0;
  }
}